.content {
    max-width: 100%;
    width: 60%;
    margin: 10px auto;
    padding: 10px 20px;

    write-paragraph {
      width: 100%;
    }
}

.title:empty:before {
  content: attr(placeholder);
  color: var(--ion-color-step-350);
}

.subtitle:empty:before {
  content: attr(placeholder);
  color: var(--ion-color-step-350);
}
